version: "3.9"

services:
  user-service:
    build: ./user-service
    ports:
      - "3001:3001"
    networks:
      - finance-net

  transaction-service:
    build: ./transaction-service
    ports:
      - "3002:3002"
    networks:
      - finance-net
    depends_on:
      - user-service

networks:
  finance-net:
    driver: bridge